<div>
  <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
  <mat-divider></mat-divider>

    <div class="flex p-4">
        <!-- Brands -->
        <div class="w-1/2">
            <h4 class="font-semibold text-xl mb-2">BRANDS</h4>
            <div class="flex flex-col gap-2 max-h-68 pr-2">
                @for (brand of shopService.brands; track $index) {
                <mat-checkbox color="primary" [checked]="selectedBrands.includes(brand)"
                    (change)="toggleSelection(selectedBrands, brand, $event.checked)">
                    {{ brand }}
                </mat-checkbox>
                }
            </div>
        </div>

        <!-- Types -->
        <div class="w-1/2">
            <h4 class="font-semibold text-xl mb-2">TYPES</h4>
            <div class="flex flex-col gap-2 max-h-68 pr-2">
                @for (type of shopService.types; track $index) {
                <mat-checkbox color="primary" [checked]="selectedTypes.includes(type)"
                    (change)="toggleSelection(selectedTypes, type, $event.checked)">
                    {{ type }}
                </mat-checkbox>
                }
            </div>
        </div>
    </div>

  <div class="flex absolute right-0 bottom-0 justify-end p-1 mb-2">
    <button mat-flat-button color="primary" (click)="applyFilters()">Apply Filters</button>
  </div>
</div>
