<div>
    <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
    <mat-divider></mat-divider>
    <div class="flex p-4">
        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Brands</h4>
            <mat-select [(ngModel)]="selectedBrands" multiple>
                @for (brand of shopService.brands; track $index) {
                    <mat-option [value]="brand">{{brand}}</mat-option>
                }
            </mat-select>
        </div>

        <div class="w-1/2">
            <h4 class="font-semibold text-xl text-primary">Types</h4>
            <mat-select [(ngModel)]="selectedTypes" multiple>
                @for (type of shopService.types; track $index) {
                    <mat-option [value]="type">{{type}}</mat-option>
                }
            </mat-select>
        </div>
    </div>
    <div class="flex justify-end p-4 mb-2">
        <button mat-flat-button color="primary" (click)="applyFilters()">Apply Filters</button>
    </div>
</div>